<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <a href="/account/indexAdmin" class="navbar-brand" >Home</a>
    <a href="/course/allcourse" class="navbar-brand" >Khóa học</a>
    <a href="/course/create" class="navbar-brand" > Create Faculity </a>
    <a href="/student/addStudent" class="navbar-brand" >Create student</a>
    <a href="/teacher/addTeacher" class="navbar-brand" >Create Teacher</a>
    <a href="" class="w3-bar-item w3-button">Logout</a>
  <h2>Add Teacher</h2>
  <form class="d-flex" method="post" action="/teacher/doAddTeacher">
    <select name="slug">
        {{#each course}}
          <option value="{{slug}}" name="slug">{{slug}}</option>
        {{/each}}
    </select>
    <div class="mt-4">
            <div class="form-group">
                <label for="coursename" >user name</label>
                <input type="text" name="username" class="form-control"  >
            </div>
            <div class="form-group">
                <label for="topic" >email</label>
                <input type="text" name="email" class="form-control" >
            </div>
            <div class="form-group">
                <label for="topic" >password</label>
                <input type="text" name="password" class="form-control" >
            </div>
           
            <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>
</tbody>

</body>
</html>