
<!DOCTYPE html>
<html>

<head>
   <title></title>
   
</head>
<body>
   
                    <form id="add" action="/message/add_chat/{{data.email}}" method="post" >
                      {{#if isFriend }}
                        <button class="add-friend">Add Friend</button>
                      {{/if}}
                    </form>
                            
                     {{#if isMessage }}
                           <form action="/message/send_message/{{cookies.email}}/{{data.email}}"
                                    method="GET">
                           <button class="message">Message</button>
                           </form>
                     {{/if}}   
                     

</body>
</html>