<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Document</title>
</head>
<body>
 <a href="/account/indexTeacher" class="w3-bar-item w3-button">Home</a>
  <a href="/course/viewJava" class="w3-bar-item w3-button">View submissions</a>
  <a href="" class="w3-bar-item w3-button">Logout</a>

   <table class="table table-striped">
    <thead>
      <tr>
        <th>username</th>
        <th>Action</th>
      </tr>
    </thead>

      <tbody>
        {{#each account}}  
          <tr>
            <td>{{email}}</td>
            
            <td>
                <a href="/message/all/{{email}}" style="align-items: center;">detail</a>
            </td>
          </tr>
        {{/each}}

      </tbody>
  </table>
</body>
</html>