<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1">   
<body>
    <a href="/account/indexManager" class="navbar-brand" >Home</a>
    <a href="/manage/allfaculity" class="navbar-brand" >View contributions</a>
    <a href="/manage/allcoursemanager" class="navbar-brand" >Dowload contributions</a>
    <a href="./teacher/addTeacher" class="navbar-brand" >Set time for upload file managine</a>
    <a href="" class="w3-bar-item w3-button">Logout</a>
    <p> cài đặt hạn nộp bài cho toàn bộ học sinh( Làm popup trong set time)</p>

<form action="/manage/settime" method="POST">
<input type="date" name="date">
<input type="time" name="time">
<input type="submit">

  <h1>thông tin cá nhân</h1>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Username</th>
        <td>{{account.username}}</td>
      </tr>
      <tr>
        <th>Email</th>
         <td>{{account.email}}</td>
      </tr>
      <tr>
        <th>Phone</th>
         <td>Phone</td>
      </tr>
      <tr>
        <th>Birthday</th>
         <td>Birthday</td>
      </tr>
      <tr>
        <th>Address</th>
         <td>Address</td>
      </tr>
    </thead>
  </table>

</body>
</html>
